.footer {
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    
  }
  
  .socialMedia svg{
      font-size: 80px;
      margin: 10px;
      cursor: pointer;
      color: white;
  }
  p{
      color: white;
  }